{% extends "blog/base.html" %}
{% block content %}

<div class="container">
    <h1>About AudiFriends</h1>
    <p><strong>AudiFriends</strong> is a vibrant social platform crafted for music enthusiasts. Our mission is to forge meaningful connections through the universal language of music. By integrating cutting-edge technology with your musical preferences, we create a unique space for you to discover and connect with others who share your taste in tunes.</p>
    
    <h2>Personalized Music Profiles</h2>
    <p>Create your profile on <strong>AudiFriends</strong> and let your music speak for you. By integrating with the Spotify API, our platform allows you to seamlessly showcase your favorite songs and recent listens. This feature is not just about displaying what music you love; it’s a reflection of your personality and musical journey.</p>
    
    <h2>Discover Music Matches</h2>
    <p>Music connects people on a profound level, reflecting both individual identity and collective culture. At <strong>AudiFriends</strong>, we harness this connection by analyzing the music in your profile using sophisticated algorithms. We identify patterns, explore genres, and delve into your music preferences to find other users whose playlists resonate with yours.</p>
    
    <h2>Connect Through Shared Tunes</h2>
    <p>Once we pinpoint your musical matches, <strong>AudiFriends</strong> facilitates new connections based on this shared harmony. Whether you’re on the hunt for friends to attend gigs with, or just someone to exchange playlists with, our platform is designed to spark conversations and foster relationships centered around music compatibility.</p>
    
    <h2>Safe, Secure, and Private</h2>
    <p>Your privacy is our priority. At <strong>AudiFriends</strong>, we ensure that your music preferences and personal information are securely stored and treated with the highest standard of privacy. You have full control over your shared information and your connections, allowing you to navigate the social landscape safely.</p>
    
    <h2>Join Our Community</h2>
    <p><strong>AudiFriends</strong> is more than an app; it's a community where music lovers from all walks of life come together to explore new music and meet people who turn into friends. Register today to start your journey of making connections through music!</p>
</div>
{% endblock content %}
